/***---Apply to all----**/

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Serif', sans-serif;
}
html {
  font-size: 62.5%
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 2.2rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 2.7rem;
}

li,
button,
label,
input,
p {
  font-size: 18px;
}

a {
  color: white;
  text-decoration: none;
}

.btn {
  padding: 1rem 1rem;
  background: #d2dbe5;
  color: rgb(59, 52, 52);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.btn:hover{
  background:#abb5a9;
}
/****---Header Section---***/
.header{
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./assets/elearning.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 43vh;
  color:rgb(23, 5, 5);
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header h3 {
  padding: 3rem;
}

.header .wrapper {
  width: 90%;
  margin: auto;
}


/***---landingpage----*/
.main-landing{
  background:black;
  color:rgb(228, 228, 228);
}

nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 10vh;
  padding: 2rem;
  width: 90%;
  margin: auto;
}

nav ul {
  display:flex;
  flex: 2 3 50rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#name {
  flex: 2 4 50rem;
  font-family: 'PT Serif', sans-serif;
  font-weight:bolder;
}


/***--Home----***/
.popular-head{
  background: #8ebcee;
  padding: 0.1rem;
  color: rgb(8, 7, 7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-list {
  justify-content: space-evenly;
}

.popular-course {
  margin: 1rem 0;
}

.course-video {
  flex: 3 1 100rem;
  padding: 2rem 0rem;
}

.course-link {
  flex: 1 1 100rem;
  background:rgb(187, 187, 203);
  font-size: 1.7rem;
  width: 100%;
  height: 100%;
}

.course-link:hover {
  background:rgb(230, 214, 214);
}

.course img {
  min-height: 10vh;
  height: 21vh;
}

/**---Admin Team----**/
.admin-team {
  width: 70%;
  margin: auto;
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 0;
}

.course-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px #c7c7c7 solid;
  padding: 2rem;
}

.form-image {
  flex: 1 1 50rem;
}

.preview {
  width: 35rem;
}

.form-details {
  flex: 3 1 50rem;
  text-align: left;
}

.form-details input {
  width: 100%;
  height: 4rem;
  font-size: 2rem;
}

.form-details textarea {
  width: 100%;
  font-size: 2rem;
}

.course-form label{
  margin: 0rem 2rem;
  text-align: left;
}

.course-title,
.course-description,
.instructor-details,
.price,
.submit-form,
.popular-courseform {
  padding: 0.7rem;
}

.form-details .popular-checkbox {
  width: 2rem;
  position: relative;
  top: 1.4rem;
}

.submit-form {
  width: 100%;
}

/**---Course Details---**/

.course-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 80vh;
  text-align: center
}

.detail-image {
  text-align: center;
}

.course-description{
  display: flex;
  flex: 1 1 50rem;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75%;
  padding: 0 5rem;
}

/**---Courses--**/
.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  width: 90%;
  margin: auto;
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  width: 22rem;
  height: 28rem;
  margin: 3rem 4rem;
  border-top: 1px solid #efefef;
  background: floralwhite;
}

/**--CourseCart--**/

.cart {
  width: 90%;
  margin: auto;
  text-align: center;
}

.cart-details {
  display: flex;
  flex-direction: column;
}

.itemincart {
  margin: 2rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.itemincart .image {
  flex: 1 1 10rem;
}

.itemincart img {
  width: 10rem;
}

.itemincart .details {
  flex: 2 1 10rem;
}

.itemincart .amount {
  flex: 1 1 10rem;
}

.cart-empty {
  position: absolute;
  top: 48%;
  left: 40%;
}

/*---CourseCheckout----*/
.checkout-wrapper {
  width: 60%;
  margin: auto;
  text-align: center;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.stripe-section {
  margin-top: 1rem;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 62.5%;
  }

  nav {
    text-align: center;
  }

  #name {
    padding: 1rem;
  }

  .course-details {
    margin-top: 4rem;
  }
}

